{% extends "base.html" %}

{% block content %}
<div class="card shadow-lg mb-4">
    <div class="card-body">

    <h1>Applications for {{ sa_position.course_section.course.major }} {{ sa_position.course_section.course.coursenum }} - Section {{ sa_position.course_section.section_number }}</h1>
    <p>Position Requirements: Min GPA {{ sa_position.min_gpa }}, Min Grade {{ sa_position.min_grade }}, Prior Experience {{ 'Yes' if sa_position.prior_experience else 'No' }}</p>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Student Name</th>
                    <th>Grade</th>
                    <th>Year & Term (Course)</th>
                    <th>Year & Term (Applying)</th>
                    <th>GPA</th>

                    <th>Recent Grades</th>
                    <th>All SA Experience</th>
                    <th>Status</th>
                    <th>Actions</th>


                </tr>
        </thead>
        <tbody>
            {% for application, is_already_hired in applications %}
            <tr>
                <td>{{ application.student.first_name }} {{ application.student.last_name }}</td>
                <td>{{ application.grade }}</td>
                <td>{{ application.year_term_course }}</td>
                <td>{{ application.year_term_apply }}</td>
                <td>{{ application.student.cum_gpa }}</td>
                <td style="width:15%;">{% for courseGrade in application.student.experiences %}
                    {%if  courseGrade.has_taken%}
                    <li>{{ courseGrade.course.major }}{{courseGrade.course.coursenum}}:{{courseGrade.grade}}</li>
                    {%endif%}
                    {%endfor%}
                </td>
               <td style="width:15%;"> {%for SAxp in application.student.experiences%}
                {%if SAxp.been_sa%}
                <li>{{ SAxp.course.major }}{{SAxp.course.coursenum}}</li>
                {%endif%}
                {%endfor%}
            </td>

                <td>
                    {% if is_already_hired %}
                        <span class="text-danger">Already Hired</span>
                    {% else %}
                        <span class="text-success">Available</span>
                    {% endif %}
                </td>
                <td>
                    {% if is_already_hired %}
                        <button class="btn btn-secondary" disabled>Approve</button>
                    {% else %}
                        <a href="{{ url_for('user.approve_application', app_id=application.id) }}" class="btn btn-primary">Approve</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if not applications %}
            <p>No applications have been submitted for this position.</p>
        {% endif %}
{% endblock %}
