{% extends "base.html" %}

{% block content %}
  <h1>Create SA Position</h1>
  <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
          {{ form.course_section.label }}<br>
          {{ form.course_section(class="form-control") }}
      </div>
      <div class="form-group">
          {{ form.number_of_sas.label }}<br>
          {{ form.number_of_sas(class="form-control") }}
      </div>
      <div class="form-group">
          {{ form.qualifications.label }}<br>
          {{ form.qualifications(class="form-control") }}
      </div>
      <div>
          {{ form.submit(class="btn btn-primary") }}
      </div>
  </form>
{% endblock %}
