{% extends "base.html" %}

{% block title %}Edit Student Profile{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-primary fw-bold border-bottom border-dark pb-2 mb-4">Edit Student Profile</h2>

    <form method="POST">
        {{ form.hidden_tag() }}
        <!-- Made it a card -->
        <div class="card shadow-lg border-primary">
            <div class="card-body">

                <div class="mb-3">
                    {{ form.first_name.label }} 
                    {{ form.first_name(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.last_name.label }} 
                    {{ form.last_name(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.email.label }} 
                    {{ form.email(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.phone_number.label }} 
                    {{ form.phone_number(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.major.label }} 
                    {{ form.major(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.cum_gpa.label }} 
                    {{ form.cum_gpa(class="form-control") }}
                    {% if form.cum_gpa.errors %}
                        <div class="text-danger">
                            {% for error in form.cum_gpa.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.grad_year.label }} 
                    {{ form.grad_year(class="form-control") }}
                </div>

                <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
                
            </div>
        </div>

        <br>

        <!-- Made it a card -->
        <div class="card shadow-lg border-primary">
            <div class="card-body">
                <h3 class="text-primary fw-bold border-bottom border-dark pb-2 mb-2">My Courses</h3>

                <div class="row row-cols-2 row-cols-md-3 g-3">
                    {% for c in courses %}
                      <div class="col-md-4 mb-3">
                        <div class="card border-tertiary">
                          <div class="card-body">
                            <h5 class="card-title">
                                {{c.course.major}} {{c.course.coursenum}}
                                {% if c.been_sa %}
                                    <span style="color: green">Former SA</span> <br>
                                {% endif %}
                            </h5>
                            <p class="card-text">
                                
                                {% if c.has_taken %}
                                    Grade: {{c.grade}} <br>
                                    Term: {{c.term}} <br>
                                {% else %}
                                    Not Taken <br>   <!-- empty char ensures uniform card size -->
                                {% endif %}
                            </p>
                            <!-- Button to view applications -->
                            <a href="" class="btn btn-primary">
                                Edit
                            </a>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>

                <br>

                <h5 class="text-tertiary fw-bold pb-2 mb-0">Add Courses</h5>
                <div class="form-group">
                    <label for="courses_served" class="form-label">Courses Served as SA</label>
                    {{ form.courses_served(class="form-control") }}
                    {% if form.courses_served.errors %}
                        <div class="text-danger">
                            {% for error in form.courses_served.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="courses_taken" class="form-label">Courses Taken</label>
                    {{ form.courses_taken(class="form-control") }}
                    {% if form.courses_taken.errors %}
                        <div class="text-danger">
                            {% for error in form.courses_served.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}