{% extends "base.html" %}

{% block content %}
  {% if isStudent %}
    <h2 class="text-primary fw-bold border-bottom border-dark pb-2 mb-4">Open SA Positions</h2>
    <h3 class="text-primary fw-bold border-bottom border-dark pb-2 mb-4">Relevant Positions</h3>

    {% if listOfRelevantPos %}
      <ul>
        {% for pos in listOfRelevantPos %}
          <li>
            Course ID: {{ pos.course_section.course_id }},
            Minimum GPA: {{ pos.min_gpa }},
            Minimum Grade: {{ pos.min_grade }},
            Experience: {{ pos.prior_experience }},
            Date Posted: {{ pos.course_section.date }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No relevant positions found.</p>
    {% endif %}

    <h3 class="text-primary fw-bold border-bottom border-dark pb-2 mb-4">Other Open Positions</h3>
    <!-- To format two on smaller screens, and 3 on medium screens and bigger-->
    <div class="row row-cols-2 row-cols-md-3 g-4">
      {% for pos in SAPosCourses %}
        <div class="col-md-4 mb-3">
          <!-- Used cards instead of just plain bullet points for a more intuitive design -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ pos.course_section.course.major }} {{ pos.course_section.course.coursenum }}</h5>
              <p class="card-text">
                <strong>Minimum GPA:</strong> {{ pos.min_gpa }}<br>
                <strong>Minimum Grade:</strong> {{ pos.min_grade }}<br>
                <strong>Date Posted:</strong> {{ pos.current_date }}<br>
                <strong>SA Experience:</strong> {% if pos.prior_experience %} Required {% else %} Not Required {% endif %}
              </p>
              <a href="{{ url_for('user.apply', pos_id=pos.id) }}" class="btn btn-primary">Apply</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  {% elif is_faculty %}
    <h2 class="text-primary fw-bold border-bottom border-dark pb-2 mb-4">Your Courses</h2>

    {% if facultyCourses %}
      <div class="row row-cols-2 row-cols-md-3 g-4">
        {% for course in facultyCourses %}
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ course.course.major }} {{ course.course.coursenum }}</h5>
                <p class="card-text">
                  <strong>Section:</strong> {{ course.section_number }}<br>
                  <strong>Term:</strong> {{ course.term }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No relevant courses found.</p>
    {% endif %}

    <h2 class="text-primary fw-bold border-bottom border-dark pb-2 mb-4">Your SA Positions</h2>
    {% if SAPosCourses %}
      <div class="row row-cols-2 row-cols-md-3 g-4">
        {% for pos in SAPosCourses %}
        {% if pos.course_section.instructor_id==current_user.id%}
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ pos.course_section.course.major }} {{ pos.course_section.course.coursenum }}</h5>
                <p class="card-text">
                  <strong>Minimum GPA:</strong> {{ pos.min_gpa }}<br>
                  <strong>Minimum Grade:</strong> {{ pos.min_grade }}<br>
                  <strong>Date Posted:</strong> {{ pos.current_date }}<br>
                  <strong>SA Experience:</strong> {% if pos.prior_experience %} Required {% else %} Not Required {% endif %}
                </p>
                <!-- Button to view applications -->
                <a href="{{ url_for('user.view_applications', pos_id=pos.id) }}" class="btn btn-primary">
                  View Applications
                </a>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <p>No SA positions created.</p>
    {% endif %}

  {% else %}
    <h1 class="text-primary fw-bold mb-4">Welcome User!</h1>
    <h3>Please <a href="{{url_for('user.login')}}">Log In</a></h3>
  {% endif %}
{% endblock %}
