{% extends 'base.html' %}

{% block title %}User Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-primary fw-bold border-bottom border-dark pb-2 mb-4">User Login</h2>
    <!-- Made it a card -->
    <div class="card shadow-lg border-primary">
        <div class="card-body">
            <form method="POST" action="{{ url_for('user.login') }}">
                {{ form.hidden_tag() }}
                
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    {{ form.username(class="form-control", placeholder="Enter your username") }}
                    {% if form.username.errors %}
                        <ul class="text-danger">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    {{ form.password(class="form-control", placeholder="Enter your password") }}
                    {% if form.password.errors %}
                        <ul class="text-danger">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <p> {{form.remember_me()}} {{form.remember_me.label}} </p>

                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>

            <div class="mt-4">
                <p>Don't have an account yet? </p>
                <a href="{{ url_for('user.register_student') }}" class="btn btn-secondary">Register as Student</a>
                <a href="{{ url_for('user.register_faculty') }}" class="btn btn-secondary">Register as Faculty</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
