{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <div class="card shadow-lg border-primary form-control">
        <div class="card-body">
            <h2 class="fw-bold border-bottom border-dark pb-2 mb-4">Create a New Class</h2>

            <form action="{{ url_for('course.createclass') }}" method="POST">
                {{ form.hidden_tag() }}

                <div>
                    {{ wtf.form_field(form.course_choices) }}
                </div>

                <div>
                    {{ wtf.form_field(form.section_number) }}
                </div>

                <div>
                    {{ wtf.form_field(form.term) }}
                </div>

                <div>
                    <button type="submit" class="btn btn-color">
                        {{ form.submit.label }}
                    </button>
                </div>
                

            </form>
        </div>
    </div>
{% endblock %}